src/main/resources/META-INF/soft-reference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.soft-rpc.com/schema/soft-reference"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.soft-rpc.com/schema/soft-reference"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string"/>
                    <xsd:attribute name="timeout" type="xsd:int" use="required"/>
                    <!--以下可选配置都有默认值-->
                    <xsd:attribute name="clusterStrategy" type="xsd:string" use="optional"/>
                    <xsd:attribute name="groupName" type="xsd:string" use="optional"/>
                    <xsd:attribute name="appName" type="xsd:string" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>




































